---

// Style Imports
import '../styles/main.scss';

// Component Imports
import StaticHead from "../components/StaticHead.astro";
import Footer from "../components/Footer.astro";

// Framework Imports 

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.

// CHANGING <HEADER> VARIABLES
let pageURL = "https://www.larrymg.me/personal_rules.html";
let title = "larrymg.me | Personal Rules";
let pageDescription = "An ever-expanding collection of rules & assumptions I use to structure my day-to-day living & thinking. These work for me; they may not work for you. Take what you can use & ignore the rest.";
let pageKeywords = "Labhrás Mac Gabhann, Labhras Mac Gabhann, Larry MacGabhann, Larry Mac Gabhann, personal websites, front-end web developer, front end web developer, web developer";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

---


<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content="{pageDescription}" />
    <meta name="keywords" content={pageKeywords} />
    <!-- Facebook Open Graph -->
    <meta property="og:url" content={pageURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={pageDescription} />
    <StaticHead></StaticHead>
  </head>
  <body id="scoped_to_personal_rules">
    <main id="personal_rules_and_assumptions">
      <article id="personal_rules">
        <div class="card_count">
          <h2 class="text_center" id="total--personal_rules"></h2>
          <a href="/"><i class="fas fa-home"></i></a>
        </div>
        <div class="card_container" id="container_personal_rules">
          <!-- div below closes container_personal_rules-->
        </div>
      </article>
      <article id="personal_assumptions">
        <div class="card_count">
          <h2 class="text_center" id="total--personal_assumptions"></h2>
          <a href="/"><i class="fas fa-home"></i></a>
        </div>
        <div class="card_container" id="container_personal_assumptions">
          <!-- div below closes container_personal_assumptions-->
        </div>
      </article>
    </main>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <Footer></Footer>
    <!-- #region Scripts -->
    <script
      src="https://kit.fontawesome.com/d2b0003921.js"
      crossorigin="anonymous"
      async
      defer
    ></script>
    <script 
      hoist 
      type="module" 
      defer>
        import "../js/personal_rules.js"
    </script>
    <!-- #endregion Scripts -->
  </body>
</html>
