---

// Style Imports
import '../styles/main.scss';

// Component Imports
import StaticHead from "../components/StaticHead.astro";
import Footer from "../components/Footer.astro";

// Framework Imports 

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.

// CHANGING <HEADER> VARIABLES
let pageURL = "https://www.larrymg.me/personal_rules.html";
let title = "larrymg.me | Personal Rules";
let pageDescription = "An ever-expanding collection of rules & assumptions I use to structure my day-to-day living & thinking. These work for me; they may not work for you. Take what you can use & ignore the rest.";
let pageKeywords = "Labhrás Mac Gabhann, Labhras Mac Gabhann, Larry MacGabhann, Larry Mac Gabhann, personal websites, front-end web developer, front end web developer, web developer";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

---


<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content="{pageDescription}" />
    <meta name="keywords" content={pageKeywords} />
    <!-- Facebook Open Graph -->
    <meta property="og:url" content={pageURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={pageDescription} />
    <StaticHead></StaticHead>
  </head>
  <body id="scoped_to_personal_rules">
    <main id="personal_rules_and_assumptions">
      <article id="personal_rules">
        <div class="card_count">
          <h2 class="text_center" id="total--personal_rules"></h2>
          <a href="/"><i class="fas fa-home"></i></a>
        </div>
        <div class="card_container" id="container_personal_rules">
          <!-- div below closes container_personal_rules-->
        </div>
      </article>
      <article id="personal_assumptions">
        <div class="card_count">
          <h2 class="text_center" id="total--personal_assumptions"></h2>
          <a href="/"><i class="fas fa-home"></i></a>
        </div>
        <div class="card_container" id="container_personal_assumptions">
          <!-- div below closes container_personal_assumptions-->
        </div>
      </article>
    </main>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <Footer></Footer>
    <!-- #region Scripts -->
    <script
      src="https://kit.fontawesome.com/d2b0003921.js"
      crossorigin="anonymous"
      async
      defer
    ></script>
        <script>

// Personal Rules

let allPersonalRules = [

  {
    card_number: undefined,  // this value is dynamically via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Suprise yourself.",
    justifications: undefined,
    concrete_applications: undefined,
  },    
 
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Embrace boredom.",
    justifications: undefined,
    concrete_applications: undefined,
  }, 

  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Read slowly & re-read.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "There is always an excuse",
    justifications: undefined,
    concrete_applications: ["Counter bad / convenient excuses with better reasons."],
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Minimize distractions",
    justifications: undefined,
    concrete_applications: ["Ruthlessly unsubscribe.", "Control the flow (e.g. configure devices to only manually retrieve e-mail, only check e-mail at certain times, etc.).", "Disable 90% of alerts, especially on peripherals."],
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Minimize distractions",
    justifications: undefined,
    concrete_applications: ["Ruthlessly unsubscribe.", "Control the flow (e.g. configure devices to only manually retrieve e-mail, only check e-mail at certain times, etc.).", "Disable 90% of alerts, especially on peripherals."],
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Jason Custer",
    body: "Live somewhere awesome.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Maximize retention.",
    justifications: undefined,
    concrete_applications: ["(Almost) always take notes.", "Spaced repetition.", "Deliberate practice."],
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Optimize investment of time",
    justifications: undefined,
    concrete_applications: ["Avoid time sucks (parallels control the flow).", "Train yourself to automatically disengage from marketing materials.", "Skip introductions - or read them last.", "Ignore and do not consume media with partisan, misleanding, or click-baity titles...unless you're actively working to debunk misinformaiton."],
  }, 

  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Trust that it will all come together.",
    justifications: ["All knowledge is unified: it just takes time (and mental preparation to make connections."],
    concrete_applications: ["Reject <a href='https://www.voorhees.k12.nj.us/Page/336' target='_blank'>AEP</a> hyper-competitive conditioning: it's not about speed, it's about retention.", "You are smarted and more capable than you think."],
  }, 

  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Be sure you understand the text / author first, then try to move beyond it / them.",
    justifications: undefined,
    concrete_applications: undefined,
  }, 

  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Curb and question your impulse to stockpile books, music, and other media.",
    justifications: ["Reinforces rule regarding optimizing time and avoiding time sucks.", "Buying / having is not the same as understanding, appreciating, or doing."],
    concrete_applications: ["Capture and track these sorts of tasks in a tool and tackle at a set time for spaced intervals.", "Aim to eventually automate as many of these tasks as possible."],
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: "https://twitter.com/rushkoff",
    source_link: "https://rushkoff.com/books/program-or-be-programmed/",
    source: "Douglas Rushkoff",
    body: "Curb and question your impulse to stockpile books, music, and other media.",
    justifications: ["Reinforces rule regarding optimizing time and avoiding time sucks.", "Buying / having is not the same as understanding, appreciating, or doing."],
    concrete_applications: ["Capture and track these sorts of tasks in a tool and tackle at a set time for spaced intervals.", "Aim to eventually automate as many of these tasks as possible."],
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "When you're feeling self-pity, envy, sadness, or anger ACT.",
    justifications: ["Action is the antidote to these feelings.", "Action is what changes and improves your situation over time.", "<a href='https://www.youtube.com/watch?v=Vq7JSic1DtM' target='_blank'>Anger is an energy.</a>"],
    concrete_applications: undefined,
  }, 

  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Write it down now because you won't remember it later.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Learn more now, patiently and thoroughly, in order to do more, skillfully and gracefully, later.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Ask for help the right way when you need it.",
    justifications: undefined,
    concrete_applications: ["Be concise and clear", "Include all relevent details in your 'ask'."],
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "To avoid an achievement plateau, discipline must increase, not diminish, with success.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Prioritize sources of information with high analytic and intellectual value.",
    justifications: undefined,
    concrete_applications: ["<a href='https://twitter.com/evgenymorozov' target='_blank'>Morozov's</a> <a href='https://www.the-syllabus.com/' target='_blank'>The Syllabus</a>", "Intriguing parallels here that may lead to additional rules: food, nutrition, exercise."],
  }, 

  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: "https://twitter.com/StevenHandel",
    source_link: "https://www.theemotionmachine.com/systems-vs-goals-why-sustainability-is-more-important-than-temporary-success/",
    source: "Steven Handel",
    body: "Create systems, not goals.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Recognize your biases and avoid them; it's easier than eliminating them altogether.",
    justifications: undefined,
    concrete_applications: undefined,
  }, 

  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: "https://twitter.com/scotthyoung/",
    source_link: "https://www.scotthyoung.com/blog/2017/01/04/first-see-the-circle/",
    source: "Scott Young",
    body: "First see the circle",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Discover music through tracks but appreciate music through albums.",
    justifications: undefined,
    concrete_applications:["Never engage in this kind of online beavhior myself!"],
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Systematically ignore or mute posts in my feeds with words like 'thrilled', 'blessed', 'passionate', 'so excited', 'amazing', etc.",
    justifications: ["I will know about significant milestones in my friends' and family members' lives long before they're posted on social media.", "Everything shared by everyone else is (almost) always variations on the BetterLifeThanYoursbook approach to 'sharing' online.  Focusing on any of this invariably knocks me off task."],
    concrete_applications:undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "There's always more you can read, listen to, consume, absorb, etc.",
    justifications: undefined,
    concrete_applications: ["Accept this fact.", "Curate and consume wisely.", "Be humble.", "Be skeptical about the value of short-form writing.", "Move on!"],
  }, 

  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: "https://twitter.com/nntaleb",
    source_link: "https://www.reddit.com/r/history/comments/6cjfmg/what_are_some_good_sources_on_the_daily_life_of/dhxpxti/?context=3",
    source: "Nassim Taleb",
    body: " Avoid things that appear learned but are, in fact, journalistic. ",
    justifications: undefined,
    concrete_applications: ["Explore robust series of facts rather than outsized personalities, famous biographies, or accounts of great events."],
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Hope with your body if you cannot hope with your mind.",
    justifications: ["<a href='https://www.youtube.com/watch?v=HJCC3QPtv5o' target='_blank'>'When my mind's uncertain / My body decides ...'</a>"],
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Remember that you are no longer 'back there' and that there are other ways forward, especially now.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Anonymous",
    body: "It's OK to make mistakes; just don't make stupid ones.",
    justifications: ["'A msitake not something to be determined after the fact, but in light of information available until that point.'"],
    concrete_applications: ["'For the robust, an error is information."],
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Ron Swanson",
    body: "One day, this year or maybe the next, you'll be somewhere else. So enjoy yourself now. ",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Never leave a good time for a better one.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Sometimes people change. Sometimes people don't. Regularly review your ideas about others to make sure you're in touch with who's really in front of you. When possible, desirable, and safe, give people an opportunity to change your mind about them.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mo Seanathair",
    body: "Listen more than you speak.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "(Almost) never create a tool without hooking it into a process.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Move slowly.  Notice things.",
    justifications: ["Contra Facebook and conventional 'wisdom' re: how best to organize life on and off the job.", "Thought of this in connection with apps, web tools, etc. Taking the time to work through, observe the UX, explore features, and learn hacks around little problems (e.g. how to convert an e-mail to PDF without losing hyperlinks). "],
    concrete_applications: undefined,
  }, 

  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Whenever possible and ethical, look for or create and maintain processes that iterate and compound.",
    justifications: undefined,
    concrete_applications: undefined,
  }, 

  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Do the workout / exercise routine you like the least first. ",
    justifications: ["Learned this the hard way through my core exercise routine!"],
    concrete_applications: undefined,
  }, 

  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: "https://www.fool.com/",
    source: "The Motley Fool",
    body: "Some part of your investment portfolio should align with products and services that you regularly use (e.g Lawry's salt, post-it notes).",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Only use one delivery channel / vector for data unless you have a compelling reason to use more than one.",
    justifications: ["Reduces needless duplication, further optimizes investment of time, and minimizes process drag."],
    concrete_applications: ["Remember to think about and clarify why you're using a specific delivery channel."],
  }, 

  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: "https://www.youtube.com/watch?v=9TEXUTyP4rI",
    source: "Fr. Martin Laird, OSA",
    body: "Whenever you become aware that your attention has been stolen, bring it back. ",
    justifications: undefined,
    concrete_applications: ["Awareness of breath, breath united with prayer word, sitting in awareness.", "The practice is not trying not to be distracted.", "Be careful with the thoughts that will attach to a recognition that you have been distrated. Do not pile thought upon thought!", "The goal is the creation of a habitus: 'an interior moment that gradually excavates the present moment.'"],
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Live simply in order to live freely",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Anonymous",
    body: "If you're lucky enough to get rich, be wise enough not to tell anybody.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Anonymous",
    body: "Respect / appreciate how little you really know about your impact online, especially on social media.",
    justifications: undefined,
    concrete_applications: ["Never 'share and share'."],
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "The first thing you should do when you find yourself in a hole is stop digging.",
    justifications: undefined,
    concrete_applications: ["Applied this mostly to Personal Log backlogs, but I'm confident this can readily be applied to other contexts."],
  }, 

  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Finish setting up processes, then document them.",
    justifications: ["Documentaiton will help you see problems & bottlenecks, articulate & envision solutions."],
    concrete_applications: ["Prepare rough outline as you go."],
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Only follow people on Twitter you like, respect, can learn from, are funny, or genuinely interest you. ",
    justifications: undefined,
    concrete_applications: ["For everyone else there are lists - and the mute button."],
  },
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: "https://twitter.com/SaraSoueidan",
    source_link: "https://www.sarasoueidan.com/blog/hex-rgb-to-hsl/",
    source: "Sara Soueidan",
    body: "Use it only when you need it.",
    justifications: undefined,
    concrete_applications: undefined,
  },

  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Focus on the horizon, don't get lost in the foreground. Look through. Look beyond.",
    justifications: undefined,
    concrete_applications: undefined,
  },

  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: "https://indianexpress.com/article/education/five-rules-to-make-the-most-of-your-online-learning-6502411/",
    source: "B. Oakley",
    body: "Don't think about finishing; think about putting in the time.",
    justifications: undefined,
    concrete_applications: undefined,
  },

  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Jason Custer",
    body: "Dividends until the dogs have their day.",
    justifications: undefined,
    concrete_applications: undefined,
  },

  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Formatting comes at the end. Deciding what you will be formatting comes at the beginning.",
    justifications: undefined,
    concrete_applications: undefined,
  },  
  
  {
    card_number: undefined,  // this value is dynamically via .forEach method.
    social_link: "https://twitter.com/JEverettLearned",
    source_link: "https://www.youtube.com/watch?v=lr4MmmWQtZM",
    source: "What I've Learned",
    body: "Formatting comes at the end. Deciding what you will be formatting comes at the beginning.",
    justifications: ["Japanese dietary habits."],
    concrete_applications: undefined,
  },

]

// Personal Assumptions

let allPersonalAssumptions = [

  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "It's often easier than I think it is...",
    justifications: undefined,
    concrete_applications: undefined,
  },  
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "... but it often takes more time to complete than I anticipated.",
    justifications: undefined,
    concrete_applications: undefined,
  }, 
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "The most difficult part of any project is maintaining discipline and enduring boredom.",
    justifications: undefined,
    concrete_applications: undefined,
  }, 
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "All knowledge is unified.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: "https://twitter.com/scotthyoung/",
    source_link: "https://www.scotthyoung.com/blog/2016/04/12/no-hard-subjects/",
    source: "Scott Young",
    body: "There are no hard subjects, only missing prerequisites.",
    justifications: undefined,
    concrete_applications: undefined,
  }, 
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: "https://twitter.com/rjallain",
    source_link: "https://www.wired.com/2014/09/two-common-misconceptions-about-learning/",
    source: "Rhett Allain",
    body: "Confusion is the sweat of learning.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Dermot Curtin",
    body: "The key to eating healthy is avoiding any food that has a TV commercial.",
    justifications: undefined,
    concrete_applications: undefined,
  }, 

  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Most people's ideas are not their own.",
    justifications: ["People don't put in the hard work to learn key concepts, master primary texts, make connections, or generate insights."],
    concrete_applications: ["For non-current issues (i.e. whatever's not currently circulating in the media) this means that, if you can ID the sources of a personal's ideas, you're at an advantage.", "For current issues this means that if you focus on collecting and reading articles, reviews, etc. you can position yourself to 'Gordon Wood' interlocutors, peg people's go-to sources, gain mindshare, and by strategitically injecting your own insights, influence and persuade people of all political opinions."],
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: "https://twitter.com/nntaleb",
    source_link: undefined,
    source: "Nassim Taleb",
    body: "A good book gets better at a second reading, a great book at a third. Any book not worth re-reading isn't worth reading in the first place.",
    justifications: undefined,
    concrete_applications: ["There is an obvious paradox here: unfortunately, there is no way way to know whether a book isn't worth re-reading until after you've read it."],
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "All online media with provocative quotes in the title are clickbait and not worth reading.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Clicking is not the same as reading.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: "https://www.youtube.com/watch?v=AKt_Lp9B-tg",
    source: "The Young Pope",
    body: "Freedom and fear are always together.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: "https://twitter.com/briancervino",
    source_link: "https://blog.trello.com/send-tasks-to-trello-boar",
    source: "Brian Cervino",
    body: "One's inbox is not a place to collaborate or get things done. ",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "What is possible is not always imaginable.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "The only thing the probable makes certain is the emergence of the unlikely.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "A fit & healthy body is the best accessory.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Watching successful people work is more effective than asking successful people how to succeed.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Athleticism is just another form of intelligence.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: "https://twitter.com/BernardMarr",
    source_link: undefined,
    source: "Bernard Marr",
    body: "It's much easier to stay healthy than it is to heal from a problem or disease; and no amount of success or money can replace your health.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: "https://twitter.com/awealthofcs",
    source_link: "https://awealthofcommonsense.com/2019/01/predictable-and-unpredictable-expenses/",
    source: "Ben Carlson",
    body: "In the end (and probably the beginning and middle as well) finance is about trade offs.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Unless I am careful to balance my accumulation of knowledge with my growth in love, learning more will not make me smarter. It will make me lonelier.",
    justifications: ["<a href='https://en.wikipedia.org/wiki/Teresa_of_%C3%81vila' target='_blank'>St. Teresa of Ávila</a>, <a href='https://www.sacred-texts.com/chr/tic/tic10.htm' target='_blank'>The Interior Castle, Mansion 4, ch. 1, para. 7</a>: 'I only wish to warn you that to make rapid progress and to reach the mansions we wish to enter, it is not so essential to think much as to love much: therefore you must practise whatever most excites you to this.'", "<a href='https://biblehub.com/ecclesiastes/12-12.htm' target='_blank'>Ecclesiastes 12:12</a>"],
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Maj. Garland Briggs",
    body: "Achievement is its own reward; pride obscures it. ",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "Habits do not restrict freedom; habits create freedom.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: "https://twitter.com/AriannaSimpson",
    source_link: undefined,
    source: "Arianna Simpson",
    body: "We often sacrifice success due to impatience. Some goals just aren't achievable in a few months - or even single digita years. Thinking on a 5, 10, 20 year scale, though difficult, is like moving from a game of checkers to a game of chess. It makes the universe of possibilities look quite different.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Anonymous",
    body: "Má bhíom daoine súgach is má bhím sugach leo, ó cad é sín don té sin nach mbaineann sin dó?",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: "https://twitter.com/GallowsRooster",
    source_link: "https://letterboxd.com/herb_gallow/films/reviews/",
    source: "Herb Gallow",
    body: "Examining 11 examples of something is the beginning of real understanding. This pushes past the natural tendency to stop at a multiple of five. Knowledge lies in the places we aren't accustomed (sic.).",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
    
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Mise Mé Féin",
    body: "A working prototype is preferable to a perfect model.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
      
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: undefined,
    source: "Jason Custer",
    body: "When you get old enough, risk and time management become worth something too.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: "https://twitter.com/wesbos",
    source_link: undefined,
    source: "Wes Bos",
    body: "Fixing real life things is a lot like programming: read the docs, watch some videos.",
    justifications: undefined,
    concrete_applications: undefined,
  },
  
  {
    card_number: undefined,  // this value is dynamically generated via a .forEach method.
    social_link: undefined,
    source_link: "https://en.wikipedia.org/wiki/Jean-Michel_Basquiat",
    source: "Jean-Michel Basquiat",
    body: "If art is how we decorate space, music is how we decorate time.",
    justifications: undefined,
    concrete_applications: undefined,
  }, 
 
]

// Functions to generate card HTML.

function generateCardStack(arrayOfCards, cardContainerSelector) {
  // Initialize a variable to collect the HTML for our entire card stack. 
  let html ="";
  let cardStackHTML = "";

  // Loop through each card object in our array and generate its HTML.
  arrayOfCards.forEach((card, index) => {
    // Increment each array item's index by one so rules start at #1.
    card.card_number = index+1;
    // Generate the HTML for each card in the stack. 
    cardStackHTML+=   
      `<div class="card" id="${card.card_number}">` + 
      `<span class="card_number">#${card.card_number}</span>` +
      `<p class="card_text">${card.body}</p>`;
    // If card links to Twitter, grab link & insert into card. 

    // NOTE:  Linked icon is added via a separate call to generateCardStickIcons() to ensure Parcel can 'see' it at build time.  See: https://parceljs.org/languages/javascript/#url-dependencies for more details.

      if ('social_link' in card) {
        cardStackHTML+= 
          `<span class="card_image">`  + 
          `<a href="${card.social_link}" class="card_icon" target="_blank">` +
          `</a>` +
          `</span>`;
      };

    cardStackHTML+=
      `<span class="card_attribution">`;
    
    // If card links to source, insert a linked span element.
      if ('source_link' in card)  {
        cardStackHTML+= 
          `<span class="card_source">` + 
           `<a href="${card.source_link}" target="_blank">Source:</a>` +
           `</span>`;
      }
    // Otherwise just insert an unlinked span.
      else {
        cardStackHTML+= 
          `<span class="source">Source:</span>`;
      }
              
   cardStackHTML+=
    ` ${card.source}</span>`;
  
 
    // If card has justifications , insert them as list items.

    // Note that we are looping within an array within the object we are currently looping over here!

      if (card.justifications !== undefined ) {
        cardStackHTML+=
          `<div class="card_justifications">` +
          `<span class="cursive">Justifications:</span>` + 
          `<ul>`;
        card.justifications.forEach (justification => {
          cardStackHTML+=
            `<li>${justification}</li>`;
        });
        cardStackHTML += 
          `</ul>` +
          `</div>`;
      }
  
    // If card has concrete applications, instert them as list items.

    // Note that we are looping within an array within the object we are currently looping over here!
 
      if (card.concrete_applications !== undefined ) {
        cardStackHTML+=  
          `<div class="card_concrete_applications">` +
          `<span class="cursive">Concrete Applications:</span>` +
          `<ul>`;
        card.concrete_applications.forEach (application => {
          cardStackHTML+=
            `<li>${application}</li>`;
          });
       cardStackHTML+=   
          `</ul>` + 
          `</div>`;
        }    
      
      if (card.author !== undefined ) {
          cardStackHTML+=  
            `<div class="card_commonplace_author">`;
            if (card.author_link !== undefined) {
              cardStackHTML +=
              `<span class="commonplace_author">` +
              `<a href="${card.author_link}" target="_blank">` +
              `${card.author}` +
              `</a>` + 
              `</span>`;
            }
            else {
              cardStackHTML +=
              `<span class="commonplace_author">` +
              `${card.author}` +
              `</span>`;
            }
            if (card.source_date !== undefined) {
              cardStackHTML+= 
                `<span class="commonplace_year">` + 
                ` (${card.source_date})` +
                `</span>`;
            } 
            cardStackHTML+=
              `</div>`;
         }  
    
    // Add the final HTML to each card in our looped array.   

    cardStackHTML+=   
      `</div>`;
  
  });

    // Collect each stacked card's HTML in a single variable for insertion into the DOM. 

  html+= cardStackHTML;
  console.log(html);
  cardContainerSelector.innerHTML = `${html}</div>`;
};

function generateCardStackIcons() {
  //  NOTE: This function must be run *after* generateCardStack(). 
  
  //  Select all cards in the DOM that need icons.
  const cardsWithIcons = document.querySelectorAll(".card_icon");

  //  Loop over all cards in the DOM that need icons & add icons.
  cardsWithIcons.forEach(card  => {
  const icon  = document.createElement('img');
  icon.src = "https://larrymg.me/assets/images/icons/icons8-twitter-blue.png";
  card.appendChild(icon);
  });
};

// Grab total number of Personal Assumptions & insert into HTML.

const totalPersonalRules = document.querySelector("#total--personal_rules");
totalPersonalRules.innerHTML = `Personal Rules (${allPersonalRules.length})`;

// Grab total number of Personal Assumptions & insert into HTML.

const totalPersonalAssumptions = document.querySelector("#total--personal_assumptions");
totalPersonalAssumptions.innerHTML = `Personal Assumptions (${allPersonalAssumptions.length})`;

// Use generateCardStack function to dynamically generate HTML for Coding Rules & Coding Assumptions card stacks.

generateCardStack(allPersonalRules, container_personal_rules);
generateCardStack(allPersonalAssumptions, container_personal_assumptions);
generateCardStackIcons();
    
    </script>
    <!-- #endregion Scripts -->
  </body>
</html>
