---
// Style Imports
import "../styles/main.scss";

// Component Imports
import StaticHead from "../components/StaticHead.astro";
import Footer from "../components/Footer.astro";
import Home from "../components/Home.astro";
import ResumeHeader from "../components/ResumeHeader.astro";
import ResumeSummary from "../components/ResumeSummary.astro";
import ResumeExperience from "../components/ResumeExperience.astro";
import ResumeEducation from "../components/ResumeEducation.astro";
import ResumeCoursesAndCerts from "../components/ResumeCoursesAndCerts.astro";
import ResumeSkills from "../components/ResumeSkills.astro";
import ResumeProjects from "../components/ResumeProjects.astro";
import ResumeInterests from "../components/ResumeInterests.astro";

// Framework Imports

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.

// CHANGING <HEADER> VARIABLES
let pageURL = "https://www.larrymg.me/resume.html";
let title = "Labhrás (Larry) Mac Gabhann's Resume";
let pageDescription = "";
let pageKeywords =
  "Labhrás Mac Gabhann, Labhras Mac Gabhann, Larry MacGabhann, Larry Mac Gabhann, front-end web developer, front end web developer, web developer, resume, available for hire, Philadelphia, CSS, Sass, Vite, Parcel, JavaScript, Git, Github, GIMP, Vim, VS Code, Astro, Vue.js, Vue";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content="{pageDescription}" />
    <meta name="keywords" content={pageKeywords} />
    <!-- Facebook Open Graph -->
    <meta property="og:url" content={pageURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={pageDescription} />
    <StaticHead />
  </head>
  <body>
    <Home />
    <!-- Do not delete this main#id!  It's used in 0-to-1079px @media query. -->
    <main id="resume">
      <div class="resume__container_grid">
        <ResumeHeader />
        <ResumeSummary />
        <ResumeExperience />
        <ResumeEducation />
        <ResumeCoursesAndCerts />
        <ResumeSkills />
        <ResumeProjects />
        <ResumeInterests />
      </div>
    </main>
    <Footer />
  </body>
</html>
