---

let emailPersonal = "mailto:hello@larrymg.me";
let letterboxd = "https://letterboxd.com/iamthelabhras/";
let linkedIn = "https://www.linkedin.com/in/larrymg/";
let spotify =  "https://open.spotify.com/user/1287879969?si=feuL7qGwStCY3DLiKp1viw";
let twitter = "http://www.twitter.com/iamthelabhras";

---

<div class="lets_connect">

<h2>Let's Connect!</h2> 

<div class="flexbox_basic--row lets_connect_links"> 

<a href={twitter} target="_blank" class="flexbox_basic--row">
<img src="../../assets/images/icons/lets_connect-twitter.png" width="35px" height="35px">
</a> 

<a href={linkedIn} target="_blank" class="flexbox_basic--row">
<img src="../../assets/images/icons/lets_connect-linkedin.png" width="35px" height="35px">
</a>

<a href={spotify} target="_blank" class="flexbox_basic--row">
<img src="../../assets/images/icons/lets_connect-spotify.png" width="35px" height="35px">
</a> 

<a href={letterboxd} target="_blank" class="flexbox_basic--row">
<img src="../../assets/images/icons/lets_connect-letterboxd.png" width="35px" height="35px">
</a> 


<a href={emailPersonal} class="flexbox_basic--row">
<img src="../../assets/images/icons/lets_connect-email.png" width="35px" height="35px">
</a> 

</div> 

</div>